h5 {
    font-size: 1.6rem;
    color: var(--secundaria);
    text-align: center;
}

.livros-container {
    margin-top: 3rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid .2rem var(--secundaria);
    text-align: center;
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
}

.livro-titulo {
    width: 45%;
}

.livro-preco {
    width: 15%;
    display: flex;
    align-items: center;
}

.livro-quantidade {
    width: 30%;
    display: flex;
    align-items: center;

}

.livro-total {
    width: 10%;
    display: flex;
    align-items: center;
}