h2 {
    font-size: 2.1rem;

}
p {
    font-size: 1.4rem;
}
.livros {
    border-radius: 1rem;
    border: .1rem solid var(--borda);
    min-width: 24rem;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.livros:hover {
    cursor: pointer;
    box-shadow: 0 0 .4rem  var(--grey-dark) ;
}


.livros a {
    padding: .6rem;
    background-color:var(--mid-blue);
    color: var(--white);
    border-radius: 1rem;
    font-style: 800
}

.livros a:hover {
    background-color: var(--secundaria);
    color: var(--mid-yellow);

}

.produtos img {
    height: 17rem;
    width: auto;
    padding-top: 2rem;
}

.produtos-cards {
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 960px) {

    .produtos-cards {
        align-items: center;
        gap: 50px;
        display: flex;
        flex-direction: column;

    }



    .livros img {
        margin: auto;
        display: block;
    }
    

    .produtos {    
        margin: auto;
    }
}